# Default ignored files
/shelf/
/workspace.xml
usage.statistics.xml

deploymentTargetSelector.xml
appInsightsSettings.xml
codeStyles/codeStyleConfig.xml
codeStyles/Project.xml
runConfigurations.xml
studiobot.xml
